<h1>Data-Driven Web</h1>
<p>Ik ben dus {{ person.name }}</p>
<p>Mijn geboorte datum is {{ person.birthdate | date: "%d-%m-%Y"}}</p>
<p>Het is vandaag  {{ "now" | date: "%d-%m-%Y %H:%M"}} </p>
<p>Mijn hobby is {{ person.custom.sport }}</p>
<p>Mijn hobby is {{ person.custom.hobby }}</p>

<details>
<summary>json</summary>
{{person| json}}
</details> 